@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
}
*,
*::after,
*::before {
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
button {
  border: none;
}
li {
  list-style: none;
}
input {
  outline: none;
}
.container {
  max-width: 1120px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;
}

body {
  background: url("./assets/img/background.jpg") no-repeat center fixed;
  background-size: cover;
}
